{{ 'section-contact-page.css' | asset_url | stylesheet_tag }}

<div class="page-width section-{{ section.id }}-padding ">
  <div class="grid-container">
    <div class="contacts__container">
      <div>
        <p class="text-button">General inquiries</p>
        <h2>hello@galapagos-galapagos.com</h2>
      </div>
      <div>
        <p class="text-button">Press inquiries</p>
        <h2>press@galapagos-galapagos.com</h2>
      </div>
      <div>
        <p class="text-button">Special projects & bespoke</p>
        <h2>hello@galapagos-galapagos.com</h2>
      </div>
      <div class="references__container">
        <p>Galapagos® is a brand by Finds You Well Srl</p>
        <p>Via Giovanni Antonio Amadeo 28, 20133 Milano</p>
        <br>
        <p>Website built by Selene Malosso</p>
      </div>
    </div>
    <div class="contacts-image__container">
      <p class="text-button">Or finds us on social</p>
      <img
        src="https://cdn.shopify.com/s/files/1/0791/5464/3250/files/Wile_E_Galapagos_BV.webp?v=1694866462"
        width="696"
        height="520"
        loading="eager"
        class="contacts-image"
      >
      <div class="links">
        <a class="text-button text-link" href="https://www.pinterest.it/galapagosgalapagosgalapagos/">Pinterest</a>
        <a class="text-button text-link" href="https://www.instagram.com/galapagosgalapagosgalapagos/">Instagram</a>
        <a class="text-button text-link" href="https://www.linkedin.com/company/galapagos-galapagos/">Linkedin</a>
      </div>
    </div>
  </div>
</div>
