.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.newsletter-form__container {
  display: grid;
  background: transparent !important;
  grid-column-start: 1;
  grid-column-end: 13;
}

@media screen and (min-width: 750px) {
  .h1 {
    font-size: 5.4rem;
    line-height: 56px;

  }
}

@media screen and (min-width: 1440px) {
  .newsletter-form__container {
    grid-column-start: 7;
    grid-column-end: 13;
  }

}



.newsletter-form__container>form {
  background: transparent !important;
  flex: 1
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;

  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 12rem;
  text-transform: uppercase;
  margin: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(var(--color-foreground));
  border-top: 1px solid rgba(var(--color-foreground));
  /*   font-family: var(--font-body-family);
  font-weight: 600; */
  /* font-size: 1.8rem; */
  color: rgba(var(--color-foreground));
}

.newsletter-form__button:hover {
  background-color: #A379FF !important;
  border: none;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}